<form action="/admin" method="post">
    <div class="col-xs-12 col-sm-4">
        <label for="name">Name:</label>
        <input id="name" name="name" type="text">
    </div>
    <div class="col-xs-12 col-sm-4">
        <label for="address">Address:</label>
        <input id="address" name="address" type="text">
    </div>
    <div class="col-xs-12 col-sm-4">
        <label for="phone">Phone:</label>
        <input id="phone" name="phone" type="text">
    </div>

    <div class="col-xs-12 col-sm-4">
        <label for="district">District:</label>
        <input id="district" name="district" type="text">
    </div>

    <div class="col-xs-12 col-sm-4">
        <label for="cuisine">Cuisine:</label>
        <input id="cuisine" name="cuisine" type="text">
    </div>

    <div class="col-xs-12 col-sm-4">
        <label for="budget">Budget:</label>
        <input id="budget" name="budget" type="text">
    </div>

    <button class="btn btn-success" type="submit">Add Info</button>
</form>

<h4>Search Restaurant available</h4>

<%@restaurants.each() do |restaurant|%>
<div id="restaurant-tile" class="col-sm-6 col-md-2">
    <a href="/restaurant/<%=restaurant.id%>">
        <div class="thumbnail">
            <img style="height: 80px" src="<%=restaurant.image%>">
            <div class="caption">
                <h5><%=restaurant.name()%></h5>
            </div>
        </div>
    </a>
</div>
<%end%>
