<form action="/admin" method="post">
    <label for="cuisine">cuisine:</label>
    <input id="cuisine" name="cuisine" type="text">

    <label for="district">district:</label>
    <input id="district" name="district" type="text">

    <label for="budget">budget:</label>
    <input id="budget" name="budget" type="text">

    <button type="submit">Add Info</button>
</form>

<h4>Search Restaurant available</h4>

<%@restaurants.each() do |restaurant|%>
  <a href="/restaurant/<%=restaurant.id%>"><li><%=restaurant.name()%></li></a>
  <img style="height: 100px" src="<%=restaurant.image%>">
<%end%>
